<!-- your html code here -->
<div class="container ms-auto mt-5">
    <div class="row">
        <div class="col-sm-12 text-start ">
            <h1>Contact</h1>
        </div>
        <div class="col-sm-12 text-start ">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda excepturi magni doloribus numquam
                sed pariatur consequatur ad dolore quam. Modi quam nobis totam, illum deleniti sint ducimus commodi vel
                est!
            </p>
        </div>
        <div class="col-sm-12 text-start ">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda excepturi magni doloribus numquam
                sed pariatur consequatur ad dolore quam. Modi quam nobis totam, illum deleniti sint ducimus commodi vel
                est!
            </p>
        </div>
    </div>
    <div class="row col-sm-8 mx-auto">


        <div class="card-body card row bg-secondary bg-opacity-10">
            <div class="mb-3">

                <div class="row justify-content-end text-end align-items-center ">
                    <div class="col-3">
                        Your E-mail
                    </div>
                    <div class="col-9">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Your E-mail">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="row justify-content-end text-end ">
                    <div class="col-3">
                        Your message
                    </div>
                    <div class="col-9">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Please enter your message here..."></textarea>
                    </div>
                </div>
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-primary">Sumbit</button>
            </div>

        </div>
    </div>
</div>