<div class="container ms-auto">
    <div class="row my-5">
        <div class="col-sm-8">
            <h1>This First Heading <span class="text-secondary">Will Catch Your Eye</span>
            </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, alias quas! Iusto
                aliquam quod fuga odit veniam, magni doloremque numquam doloribus, recusandae sapiente eos. Sed esse
                dignissimos
                quaerat eius saepe!
            </p>
        </div>
        <div class="col-sm-4">
            <img src="/website/assets/img/1.jpg" class="col-sm-11 rounded-circle">
        </div>
    </div>
</div>