<!-- your html code here -->

<div class="container ms-auto">
    <div>
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis earum sunt animi sequi, rerum incidunt, itaque
            odit delectus nihil rem consectetur, nulla commodi nesciunt quaerat deserunt deleniti. Atque, odit illum?
        </p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 400px;">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                    <h4 style="color: skyblue;">Project Name</h4>
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 400px;">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                    <h4 style="color: skyblue;">Project Name</h4>
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 400px;">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                    <h4 style="color: skyblue;">Project Name</h4>
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>