<!-- your html code here -->
<p>Hello, I'm the services.html</p>
<div class="container">
    <div class="row">
        
      <div class="col-sm-4">
        <img src="../assets/img/2.jpg" class="col-sm-11 rounded-circle">
      </div>
      <div class="col-sm-8">
        <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span> </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam illum veritatis maiores ab aspernatur libero voluptatem nesciunt ad totam eum quibusdam accusantium, adipisci eius ipsum officiis pariatur repellat, hic autem?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam nihil quae nam voluptatem ea eligendi in similique assumenda! Vero, aspernatur cupiditate ipsam dolore sequi eligendi quae est molestias porro maxime?
        </p>
      </div>
      
    </div>
  </div>
